<html ng-app="admin">
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script>
        angular.module('admin', []).controller('ProductController', ProductController);
        function ProductController($scope, $http) {
            listProducts();
            function listProducts() {
                $http.get('/product').success(function(data) {
                    $scope.products = data;
                });
            }

            $scope.create = function() {
                $http.post('/product', {product: $scope.product}).success(function() {
                    listProducts();
                    $scope.product = {};
                });
            };

            $scope.delete = function(id) {
                $http.delete('/product/' + id, {id: id}).success(listProducts);
            };
        }
    </script>
</head>
<body class="container" ng-controller="ProductController">
<h1>Products</h1>

<h2>Add new product</h2>

<form ng-submit="create()">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" ng-model="product.name"/></td>
            <td><input type="text" ng-model="product.price"/></td>
            <td><input type="text" ng-model="product.stock"/></td>
            <td>
                <button type="submit" class="btn btn-sm btn-success">Add</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<h2>List all products</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in products | orderBy:'-id'">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
        <td>
            <button type="button" class="btn btn-sm btn-danger" ng-click="delete(product.id)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>

<h1>Users</h1>

<h1>Purchases</h1>
</body>
</html>
